body{
    margin: 0px;
    font-family:Arial;
    
}



#navBar1{
    width: 100%;
    height: 70px;
    background-color: rgb(0,70,190);
    display: grid;
    grid-template-columns: 7% 9.5% 42% 30.5% 11%;
    box-sizing: border-box;
    border-bottom: .5px solid rgb(102, 135, 241);
}

#img{
   max-width: 100%;
    height: auto;
}
#bestBLogo{
    box-sizing: border-box;
    width: 65%;
    height: 57%;
    margin: 20px 0 0 34%;
}

#menuDiv{
    width: 68%;
    display: grid;
    grid-template-columns: 40% 60% ;
    margin: 12% 0 0 30%;


}

#menuText{
    box-sizing: border-box;
    font-size: 1.3vw;
    color: white;
    font-weight: 600;
    padding: 13% 0 0 0;
}





#searchDiv{
    background-color: white;
    width: 93%;
    height: 60%;
    border-radius: 5px;
    margin: 2.5% 0 0 6% ;
    display: grid;
    grid-template-columns: 94% 6%;
}
#inp{
    width: 93%;
    height: 50%;
    font-size: 1.1vw;
    font-weight: 200;
    margin: 10px 0 0 1.5% ;
    outline: none;
    color: rgb(85, 85, 90);
    border: none;
    
}



#aiea{
    display: grid;
    grid-template-columns: 88% 12%;

}

#aieaText{
    box-sizing: border-box;
    font-size: 1.3vw;
    color: white;
    font-weight: 600;
    padding: 45% 0 0 0;
}

#cart{
    
    display: grid;
    
    grid-template-columns: 36% 50%;
}

#cartText{
    box-sizing: border-box;
    font-size: 1.3vw;
    color: white;
    font-weight: 600;
    padding: 30% 0 0 0;
}

#cartText:hover , #first>div:hover{
    text-decoration: underline;

}

#navBar2{
    width: 100%;
    height: 40px;
    background-color:rgb(0,70,190) ;
    display: grid;
    grid-template-columns: 56% 44%;
}

#first{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
}

#first>div{
    font-size: .8vw;
    color: white;
    text-align: right;
    box-sizing: border-box;
    padding: 15px 0 0 0;
    
}

#holiday::after{
    content: "⌵";
    margin: -10px 0 0 2px;
    
}
#more::after{
    
    content: "⌵";
    margin: 0 0 0 3px;
    
}

#secondC{
    display: grid;
    width: 70%;
    height: 100%;
    margin: 0 0 0 20%;
    grid-template-columns: auto auto auto auto;
}

#secondC>div{
    font-size: .8vw;
    color: white;
    /* text-align: right; */
    box-sizing: border-box;
    padding: 15px 0 0 0;
    font-weight: 600;
}

#acc{
    display:grid;
    grid-template-columns: 20% auto;
    grid-gap: 0px;
}
#accText{
    margin: 0 0 0 -10px;
}

div{
    /* border: 0.1px solid black; */
}
#menuDiv:hover{
    cursor: pointer;
}
#menuBox{
    display: none;
    width: 350px;
    position: absolute;
    height: 400px;
    background-color: white;
    /* border: 1px solid black; */
    margin: 0 0 0 1.5%;
    overflow: scroll;
    animation: .5s ease-in op ;
}





#menuBox::after{
    
     content: "";
  position: absolute;
  bottom: 99.9999%;
  left: 45%;
  margin-left: 0px;

  border-width: 14px;
 
  border-left: 15px;
  border-right: 15px; 
  border-style: solid;
  border-color: black transparent transparent transparent;
  transform: rotateZ(180deg);
}

::-webkit-scrollbar {
  display: none;
}

#searchRes{
     display: none;
    width: 300px;
    position: absolute;
    height: 300px;
    background-color: white;
    border: 1px solid black;
    margin: 0 0 0 2%;
    overflow: scroll;
    animation: .5s ease-in op ;
}

#holidayPopUp{
   display: none;
    width: 300px;
    position: absolute;
    height: 300px;
    background-color: white;
    border: 1px solid black;
    margin: 0 0 0 2%;
    overflow: scroll;
    animation: .5s ease-in op ;
}


#accountPopUp{
   display: none;
    width: 350px;
    position: absolute;
    height: 200px;
    background-color: white;
    border: 1px solid black;
    margin: 0 0 0 62%;
    overflow: scroll;
    animation: .5s ease-in op ;
}


#savedItemsPopUp{
   display: none;
    width: 1000px;
    position: absolute;
    height: 370px;
    background-color: white;
    border: 1px solid black;
    margin: 0 0 0 30%;
    overflow: scroll;
    animation: .5s ease-in op ;
}
@keyframes op{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}